*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
html,
body{
    height:100%;
    width: 100%;
    color:#fff;
    overflow: hidden;
}

#main{
    height:100vh;
    width: 100vw;
    background: url('./assets/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#main>video{
    height:130%;
    width: 140vw;
    margin-left: -20vw;
    position: absolute;
    z-index: -1;
}

#nav{
    height:10vh;
    width: 100vw;
    border-bottom: 2px solid #fff;;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding : 0 5vw;
}
.logo{
    font-weight: 700;
}
.logo>span{
    color:red;
}

.links>a{
    text-decoration: none;
    color:#fff;
    padding:0 2vw;
    font-weight: 600;
}

.btn{
    height:5vh;
    width: 10vw;
    border:2px solid red;
    border-radius: 20px;
    background:transparent;
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.hero{
    display: flex;
}

.hero-left{
    height:90vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding:0 5vw;
    line-height: 2.5vw;
}

.hero-left>h3{
    font-size: 2vw;
}


.hero-right{
    height: 90vh;
    width: 50vw;
}

.hero-left>p{
    font-size: 1vw;
    line-height: 1vw;
    margin-top: 1vw;
}

.hero-left>h2{
    margin-top: 1vw;
    color:red;
    font-size: 3vw;
    font-weight: 900;
}
.hero-left>h1{
    margin-top: 1vw;
}

.ux,.dev{
    color:cyan;
}
.j{
    color:red;
    padding-left:5vw
}

.profile-pic{
    height:70vh;
    width: 30vw;
    /* border: 2px solid #fff; */
    /* background-color: #000; */
    border-radius: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top:10vh;
    left:10%;
}
.profile-pic>img{
    height: 90%;
    width: 95%;
    margin-bottom: 2vw;
}
